<% include header %>

    <link rel="stylesheet" href="/static/posts.css">

    <div class="main-box">
        <div class="content-center">
            <ul>
                <% for(var i in postList) {%>
                    <li>
                        <div class="row post-item">
                            <div class="col-md-12 h4 post-item-title">
                                <a href="/system/p?id=<%= postList[i].id %>">
                                    <%= postList[i].title %>                                        
                                </a>
                            </div>

                            <div class="col-md-12">
                                <%= postList[i].content %>
                            </div>

                            <div class="col-md-3">浏览量：
                                <%= postList[i].pv %>
                            </div>

                            <div class="col-md-3">标签：
                                <%= postList[i].tag_name %>
                            </div>
                            
                            <div class="col-md-3">作者：
                                <%= postList[i].name %>
                            </div>

                            <div class="col-md-3">创建：
                                <%= postList[i].create_date %>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>

        <% include template/pageGroup %>
        
    </div>
    
    <% include footer %>